@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --bg-color: #191765;
  --app-bg: #1a176544;
  --title-color: hsla(256, 70%, 70%, 1);
  --btn-bg-color: hsl(256.3, 69.9%, 57%);
  --subtitle-color: hsla(243, 100%, 96%, 1);
  --text-color: hsla(240, 12%, 81%);
  --fs-text: 1.25em;
  --fs-title: 2em;
  --fw-normal: 400;
  --fw-bold: 500;
  --ff-title: 'Roboto', sans-serif;
  --ff-text: 'Inter', serif;
}

/* General Styles */

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--ff-text);
  font-size: var(--fs-text);
  font-weight: var(--fw-normal);
  position: relative;
}

body.pop-open {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: var(--subtitle-color);
  border-radius: 6px;
  -webkit-box-shadow: inset 2px 2px 5px #222;
  box-shadow: inset 2px 2px 5px #222;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
  border-left: 2px outset var(--title-color);
  border-radius: 4px;
  width: 10px;
}

body > * {
  background-color: var(--app-bg);
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--title-color);
  -webkit-transition: color 250ms ease-out;
  -o-transition: color 250ms ease-out;
  transition: color 250ms ease-out;
}

.border {
  border-bottom: 2px solid var(--subtitle-color);
  padding-bottom: 2em;
}

.button {
  width: 7.5em;
  height: 3.25em;
  color: var(--subtitle-color);
  background-color: var(--btn-bg-color);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-size: 0.8em;
  font-family: var(--ff-text);
  border: none;
  cursor: pointer;
}

.button:hover {
  -webkit-box-shadow: 0 8px 16px 0 hsla(244, 96%, 72%, 0.48);
  box-shadow: 0 8px 16px 0 hsla(244, 96%, 72%, 0.48);
  background-color: var(--title-color);
  -webkit-transition: -webkit-box-shadow ease-in 5ms;
  -o-transition: box-shadow ease-in 5ms;
  transition: box-shadow ease-in 5ms, -webkit-box-shadow ease-in 5ms;
}

.button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: hsla(251, 65%, 55%, 1);
  -webkit-transition: background-color ease-out 5ms;
  -o-transition: background-color ease-out 5ms;
  transition: background-color ease-out 5ms;
}

.button:disabled {
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: hsla(233, 10%, 18%, 1);
}

#first-name {
  display: none;
}

#last-name {
  display: none;
}

a:focus,
input:focus,
textarea:focus,
.button:focus {
  outline: 2px solid var(--title-color);
  outline-offset: 0.2em;
}

/* Popup window */
.pop-up {
  display: none;
}

.pop-open .pop-up {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90vw;
  height: auto;
}

.pop-article {
  display: none;
}

.pop-open .pop-article {
  background-color: hsla(0, 0%, 100%, 0.2);
  border: 2px solid var(--subtitle-color);
  border-radius: 0.125em;
  padding: 1em;
  z-index: 10000;
}

.pop-article-head {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1.25em;
  width: 100%;
}

.pop-article-title {
  color: var(--subtitle-color);
  font-size: var(--fs-text);
  font-family: var(--fs-text);
  font-weight: 500;
  line-height: 1.75em;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.pop-article-close {
  width: 2.5em;
  height: 2.5em;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: transparent;
  border: none;
}

.pop-close {
  position: relative;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pop-close::after {
  position: absolute;
  content: '';
  -webkit-transform: rotate(-90deg) translateY(-1em);
  -ms-transform: rotate(-90deg) translateY(-1em);
  transform: rotate(-90deg) translateY(-1em);
}

.pop-close,
.pop-close::after {
  width: 2em;
  height: 3px;
  border-radius: 1px;
  background-color: var(--subtitle-color);
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-description {
  padding: 0.75em 0.35em;
  text-align: center;
  color: var(--subtitle-color);
  margin-bottom: 0.5em;
  font-family: var(--ff-text);
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
}

.techstack {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 1.25em 0 1em;
  border: solid var(--text-color);
  border-width: 0 1px;
}

.techno {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  padding: 0.5em;
  color: var(--subtitle-color);
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  font-size: 1em;
}

.techno + .techno {
  border-left: 1px solid var(--text-color);
}

.project-links {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 6em;
  width: 100%;
}

.project-links > a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3.25em;
  color: var(--subtitle-color);
  background-color: var(--btn-bg-color);
  -webkit-box-pack: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.75em;
  width: auto;
  text-align: center;
  font-size: 0.8em;
  font-family: var(--ff-text);
  border: none;
  cursor: pointer;
}

.brand {
  display: inline-block;
  margin-left: 0.5em;
}

/* Background glowing objects */
.circle-one {
  top: 125px;
  left: -130px;
  width: 160px;
  height: 160px;
  -webkit-filter: blur(15px);
  filter: blur(15px);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 16s;
  animation-duration: 16s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.circle-two {
  top: 650px;
  right: -45px;
  width: 85px;
  height: 85px;
  -webkit-filter: blur(15px);
  filter: blur(15px);
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.circle-three {
  width: 39.61px;
  height: 482.57px;
  left: -80px;
  top: 1624.71px;
  -webkit-transform: rotate(-36.38deg);
  -ms-transform: rotate(-36.38deg);
  transform: rotate(-36.38deg);
  -webkit-filter: blur(50px);
  filter: blur(50px);
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.circle-four {
  width: 70.28px;
  height: 261.6px;
  left: 385.27px;
  top: 2437.23px;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  -webkit-transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
  -ms-transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
  transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
}

.circle-five {
  position: absolute;
  width: 308px;
  height: 155px;
  left: -93px;
  top: 3274px;
  background: rgba(194, 192, 149, 0.05);
  -webkit-filter: blur(100px);
  filter: blur(100px);
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.circle-six {
  position: absolute;
  width: 101.29px;
  height: 377.04px;
  left: 258.22px;
  top: 4023px;
  background: #edecffc9;
  -webkit-filter: blur(100px);
  filter: blur(100px);
  -webkit-transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
  -ms-transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
  transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
}

.blur-item {
  position: absolute;
  background-color: hsla(285, 100%, 95%, 0.8);
  -webkit-box-shadow: 10px 10px 5px 5px hsla(285, 100%, 88%, 0.8);
  box-shadow: 10px 10px 5px 5px hsla(285, 100%, 88%, 0.8);
  border-radius: 50%;
  z-index: -5;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.blop {
  -webkit-animation-name: blop;
  animation-name: blop;
}

.rotate {
  -webkit-animation-name: rotate;
  animation-name: rotate;
}

@-webkit-keyframes blop {
  0% {
    background-color: rgba(249, 229, 255, 0.7);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  50% {
    background-color: hsla(360, 100%, 100%, 0.8);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }

  100% {
    background-color: hsla(290, 75%, 97%, 0.671);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}

@keyframes blop {
  0% {
    background-color: rgba(249, 229, 255, 0.7);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  50% {
    background-color: hsla(360, 100%, 100%, 0.8);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }

  100% {
    background-color: hsla(290, 75%, 97%, 0.671);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-36.38deg);
    transform: rotate(-36.38deg);
  }

  50% {
    -webkit-transform: rotate(90.38deg);
    transform: rotate(90.38deg);
  }

  100% {
    -webkit-transform: rotate(-36.38deg);
    transform: rotate(-36.38deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(-36.38deg);
    transform: rotate(-36.38deg);
  }

  50% {
    -webkit-transform: rotate(90.38deg);
    transform: rotate(90.38deg);
  }

  100% {
    -webkit-transform: rotate(-36.38deg);
    transform: rotate(-36.38deg);
  }
}

/* Header section */
.header-section {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--subtitle-color);
  font-size: var(--fs-text);
  padding: 1.25em 1.75em;
}

.pop-open .header-section {
  -webkit-filter: blur(15px);
  filter: blur(15px);
  opacity: 0.5;
  z-index: -20;
  display: none;
}

.header-section > * {
  z-index: 10;
}

.nav-open .header-section {
  padding-left: 0;
  padding-right: 0;
}

.header-section > a {
  color: inherit;
  font-size: inherit;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-links > a:hover {
  -webkit-box-shadow: 0 8px 16px 0 hsla(244, 96%, 72%, 0.48);
  box-shadow: 0 8px 16px 0 hsla(244, 96%, 72%, 0.48);
  background-color: var(--title-color);
  -webkit-transition: -webkit-box-shadow ease-in 5ms;
  -o-transition: box-shadow ease-in 5ms;
  transition: box-shadow ease-in 5ms, -webkit-box-shadow ease-in 5ms;
}

.header-section > a:hover {
  animation: 250ms ease-in 20ms 1 reverse flippy;
}

@-webkit-keyframes flippy {
  from {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }

  50% {
    -webkit-transform: rotate(180deg) scale(1.5);
    transform: rotate(180deg) scale(1.5);
  }

  to {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

@keyframes flippy {
  from {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }

  50% {
    -webkit-transform: rotate(180deg) scale(1.5);
    transform: rotate(180deg) scale(1.5);
  }

  to {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: flex;
  padding: 1.75em;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
  -webkit-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.nav-open .nav {
  background-color: var(--bg-color);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 2000;
  overflow: hidden;
}

.nav-list {
  display: none;
}

.nav-open .nav-list-link {
  font-size: 1.25em;
  font-weight: 500;
  color: var(--subtitle-color);
}

.nav-open .nav-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  list-style: none;
  line-height: 2;
  z-index: 3500;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 3em;
}

.nav-open .ellipse-one {
  z-index: 2500;
  position: absolute;
  width: 226px;
  height: 427px;
  left: -50.04px;
  top: 75px;
  background: rgba(237, 236, 255, 0.4);
  -webkit-filter: blur(50px);
  filter: blur(50px);
  -webkit-transform: rotate(25.09deg);
  -ms-transform: rotate(25.09deg);
  transform: rotate(25.09deg);
}

.nav-open .ellipse-two {
  z-index: 2500;
  position: absolute;
  width: 420.13px;
  height: 244.06px;
  left: 250.94px;
  top: 550.54px;
  background: rgba(237, 236, 255, 0.9);
  -webkit-filter: blur(50px);
  filter: blur(50px);
  -webkit-transform: rotate(45.52deg);
  -ms-transform: rotate(45.52deg);
  transform: rotate(45.52deg);
}

.hamburger {
  position: relative;
  z-index: 5000;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 35px;
  height: 3px;
  background-color: var(--subtitle-color);
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  content: '';
}

.hamburger::before {
  bottom: 10px;
}

.hamburger::after {
  top: 10px;
}

#logo {
  z-index: 2000;
}

.nav-open #logo {
  display: none;
}

.nav-open .hamburger {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-open .hamburger::before {
  opacity: 0;
}

.nav-open .hamburger::after {
  -webkit-transform: rotate(0.625turn) rotate(43deg) translateY(-1px) translateX(10px);
  -ms-transform: rotate(0.625turn) rotate(43deg) translateY(-1px) translateX(10px);
  transform: rotate(0.625turn) rotate(43deg) translateY(-1px) translateX(10px);
}

/* Main page content */
.main-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0 1.5em;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.pop-open .main-section {
  -webkit-filter: blur(15px);
  filter: blur(15px);
  opacity: 0.5;
  z-index: -20;
  display: none;
}

.nav-open .main-section {
  display: none;
}

.main-section > * {
  z-index: 10;
}

/* Headline section */
.headline-section {
  width: 100%;
}

#headline-title {
  font-size: 2em;
  width: 100%;
  letter-spacing: 2px;
  line-height: 1.05;
  font-weight: var(--fw-bold);
  color: var(--title-color);
  font-family: var(--ff-title);
  margin-top: 1.5em;
}

#headline-sub {
  font-size: 1.6em;
  font-weight: var(--fw-normal);
  color: var(--subtitle-color);
  margin-top: 0.5em;
  font-family: var(--ff-title);
}

.intro {
  font-size: 1.215em;
  color: var(--text-color);
  margin-top: 1.5em;
  font-family: var(--ff-text);
  text-align: center;
}

.nav-list-item:hover > a {
  color: var(--title-color);
  -webkit-transition: color 250ms ease-out;
  -o-transition: color 250ms ease-out;
  transition: color 250ms ease-out;
}

/* Skills section */
.skills {
  width: 100%;
}

.pop-open .skills {
  -webkit-filter: blur(15px);
  filter: blur(15px);
  opacity: 0.5;
  z-index: -20;
  display: none;
}

.skills-list {
  width: 100%;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(50px, auto) 15px minmax(50px, auto);
  -ms-grid-columns: minmax(80px, auto) 15px minmax(80px, auto);
  grid-template: repeat(2, minmax(50px, auto)) / repeat(2, minmax(80px, auto));
  text-align: start;
  color: var(--text-color);
  margin-top: 2em;
  gap: 15px;
  padding: 0 10px;
}

.skill-title {
  color: var(--title-color);
  font-size: 0.85em;
  font-weight: var(--fw-normal);
  font-family: var(--ff-title);
  margin-bottom: 1em;
}

.sublist {
  list-style: none;
  line-height: 1.75;
}

.skill-item {
  font-size: 1em;
  font-weight: 300;
  font-family: var(--ff-text);
  color: var(--subtitle-color);
}

/* Contact section */
.about-me {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.pop-open .about-me {
  -webkit-filter: blur(15px);
  filter: blur(15px);
  opacity: 0.5;
  z-index: -20;
  display: none;
}

.contact-links {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70%;
  margin-top: 2em;
}

.contact-link {
  text-decoration: none;
  color: var(--subtitle-color);
  display: block;
}

.contact-link:hover {
  -webkit-transform: translateY(-3px) scale(1.25);
  -ms-transform: translateY(-3px) scale(1.25);
  transform: translateY(-3px) scale(1.25);
  color: var(--title-color);
  -webkit-transition: all 180ms ease-in-out;
  -o-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
}

.contact-link > i {
  font-size: 24px;
}

/* Internal link to the projects */
.to-projects {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: var(--text-color);
  font-family: var(--ff-title);
  font-size: var(--fs-text);
  font-weight: var(--fw-normal);
  margin-top: 1em;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.to-projects > svg {
  margin-right: 0.25em;
}

#first-to-projects {
  display: none;
}

#first-to-projects > svg {
  margin-left: 0.25em;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* My projects section */
.projects-section {
  width: 100%;
  text-align: start;
}

.pop-open .projects-section {
  -webkit-filter: blur(15px);
  filter: blur(15px);
  opacity: 0.5;
  z-index: -20;
  display: none;
}

.projects-title {
  margin-top: 1.5em;
  text-transform: uppercase;
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
  font-family: var(--ff-text);
  color: var(--title-color);
  padding-bottom: 1em;
  border-bottom: 2px solid var(--subtitle-color);
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(80vh, auto) 3em minmax(80vh, auto) 3em minmax(80vh, auto) 3em minmax(80vh, auto);
  -ms-grid-columns: 1fr;
  grid-template: repeat(4, minmax(80vh, auto)) / 1fr;
  padding: 4em 0;
  grid-row-gap: 3em;
}

.project-card {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.project-card-title {
  color: var(--subtitle-color);
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  font-size: 1.5em;
}

.image-placeholder {
  height: 220px;
  width: 100%;
  overflow: hidden;
}

.about-project {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
  width: 100%;
  margin-top: 2em;
}

.about-project > * {
  margin-bottom: 1em;
}

.project-card-description {
  color: var(--text-color);
  font-size: 1em;
  font-family: var(--ff-text);
  font-weight: var(--fw-normal);
}

.technologies {
  display: -webkit-box;
  display: flex;
  justify-content: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  list-style: none;
}

.technology {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  padding: 0.5em;
  color: var(--subtitle-color);
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  font-size: 1em;
}

.technology + .technology {
  border-left: 1px solid var(--text-color);
}

/* Contact section */
.contact-section {
  margin-bottom: 2.5em;
  text-align: center;
}

.pop-open .contact-section {
  -webkit-filter: blur(15px);
  filter: blur(15px);
  opacity: 0.5;
  z-index: -20;
  display: none;
}

.contact-title {
  text-transform: uppercase;
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
  font-family: var(--ff-text);
  color: var(--title-color);
  margin-bottom: 0.5em;
}

.contact-info {
  font-size: 1.215em;
  color: var(--text-color);
  font-family: var(--ff-text);
  margin-bottom: 2em;
}

.widgets {
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.5;
}

.widget {
  width: 100%;
  text-align: start;
  font-size: 1em;
  color: var(--subtitle-color);
  font-family: var(--ff-text);
}

#submit-button {
  width: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

#error {
  display: none;
  margin-bottom: 0.5em;
  background-color: hsla(0, 0%, 100%, 0.16);
  border: 2px solid var(--subtitle-color);
  text-align: center;
  padding: 0.25em;
}

.user-inputs {
  display: block;
  width: 100%;
  margin: 0.5em 0 1.5em;
  padding: 0.75em;
  font-family: var(--ff-text);
  font-size: 1em;
  color: var(--bg-color);
  border: none;
  border-radius: 0.125em;
}

.user-inputs::-webkit-input-placeholder {
  font-size: 1em;
}

.user-inputs::-moz-placeholder {
  font-size: 1em;
}

.user-inputs::-ms-input-placeholder {
  font-size: 1em;
}

.user-inputs:-ms-input-placeholder {
  font-size: 1em;
}

.user-inputs::placeholder {
  font-size: 1em;
}

.user-inputs:focus {
  outline-width: 3px;
}

#message {
  height: 8em;
  resize: vertical;
  min-height: 6em;
  max-height: 10em;
  border: none;
}

/* Footer */
.footer-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--app-bg);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  width: 100vw;
  overflow-x: hidden;
  padding: 0 1.5em;
  border-top: 2px solid var(--subtitle-color);
}

.pop-open .footer-section {
  -webkit-filter: blur(15px);
  filter: blur(15px);
  opacity: 0.5;
  z-index: -20;
  display: none;
}

.nav-open .footer-section {
  display: none;
}

.footer-link {
  display: block;
  text-decoration: none;
  font-size: 1.25em;
  font-family: var(--ff-text);
  color: var(--text-color);
}

.footer-link:hover {
  color: var(--subtitle-color);
}

#mail {
  margin: 0.5em 0 1.5em;
  color: var(--subtitle-color);
}

/* For mobile devices smaller than the IPhone X */
@media only screen and (max-width: 320px) {
  body > * {
    width: 100%;
    overflow-x: hidden;
  }

  .projects {
    -ms-grid-rows: minmax(80vh, auto) 2em minmax(80vh, auto) 2em minmax(80vh, auto) 2em minmax(80vh, auto);
    -ms-grid-columns: 1fr;
    grid-template: repeat(4, minmax(80vh, auto)) / 1fr;
    padding: 3em 0;
    grid-row-gap: 2em;
  }

  .projects-title {
    margin-top: 1.25em;
    padding-bottom: 0.75em;
  }

  .project-card {
    overflow-x: hidden;
  }

  .image-placeholder {
    height: 180px;
    width: 100%;
  }

  .project-card-title {
    font-size: 1em;
  }

  .project-card-description {
    font-size: 0.75em;
  }

  .technology {
    padding: 0.25em;
    font-size: 0.8em;
  }
}

@media only screen and (min-height: 815px) {
  .projects {
    grid-template: repeat(4, minmax(50vh, auto)) / 1fr;
  }
}

/* Tablet devices version */
@media only screen and (min-width: 600px) {
  /* Portrait tablets and large phones */

  /* Skills section */
  .skills {
    width: 45vw;
    min-width: 40vw;
    max-width: 50vw;
  }

  .skills-list {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 4.5em;
    width: 100%;
  }

  .skill + .skill {
    margin-left: 2em;
  }

  .skill-title {
    font-size: 1em;
    margin-bottom: 1em;
  }

  .sublist {
    line-height: 1.85;
  }

  .skill-item {
    font-size: 1.125em;
  }

  .image-placeholder {
    height: 420px;
    width: 100%;
  }

  .technologies {
    width: 75%;
  }

  /* Contact section */
  .contact-section {
    width: 85%;
  }
}

@media only screen and (min-width: 768px) {
  .pop-article {
    display: none;
  }

  .pop-open .pop-article {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 75vw;
    border: 3px solid var(--subtitle-color);
    border-radius: 0.15em;
    padding: 2em;
  }

  .pop-article-head {
    margin-bottom: 1.5em;
  }

  .pop-article-title {
    font-size: 1.75em;
  }

  .pop-article-close {
    cursor: pointer;
  }

  .pop-close::after {
    -webkit-transform: rotate(-90deg) translateY(-0.75em);
    -ms-transform: rotate(-90deg) translateY(-0.75em);
    transform: rotate(-90deg) translateY(-0.75em);
  }

  .pop-close,
  .pop-close::after {
    width: 1.5em;
    border-radius: 3px;
  }

  .project-description {
    padding: 1em 3em;
    margin-bottom: 1em;
  }

  .techstack {
    margin: 1em 0 1.25em;
    width: 65%;
  }

  .project-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: auto;
    width: 60%;
  }

  .source {
    margin-left: 2em;
  }

  .brand {
    margin-left: 1em;
  }

  #names {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
  }

  #first-name {
    display: block;
  }

  #last-name {
    display: block;
  }

  #full-name {
    display: none;
  }
}

/* Desktop devices version */
@media only screen and (min-width: 992px) {
  /* Laptops/desktops */
  :root {
    --fs-text: 1.125em;
    --fs-title: 2.75em;
    --fw-bold: 600;
  }

  /* General Styles */
  body {
    font-family: var(--ff-text);
    font-size: var(--fs-text);
    font-weight: var(--fw-normal);
  }

  .button {
    width: 7.5em;
    height: 3.25em;
    font-size: 0.8em;
  }

  .border {
    padding-bottom: 4em;
  }

  .project-description {
    padding: 1em 10em;
  }

  .techstack {
    width: 30%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .project-links {
    width: 30%;
  }

  /* Background glowing objects */
  .circle-one {
    top: 50px;
    left: 80px;
    width: 100px;
    height: 100px;
  }

  .circle-two {
    top: 500px;
    right: 65px;
    width: 120px;
    height: 120px;
  }

  .circle-three {
    width: 57.53px;
    height: 700.92px;
    left: -112px;
    top: 700.12px;
  }

  .circle-four {
    width: 108px;
    height: 402px;
    left: 1320.28px;
    top: 1200.74px;
    -webkit-transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
    -ms-transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
    transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
  }

  .circle-five {
    position: absolute;
    width: 308px;
    height: 155px;
    left: -41px;
    top: 2300px;
  }

  .circle-six {
    position: absolute;
    width: 246.19px;
    height: 916.38px;
    left: 1090.3px;
    top: 2484px;
    -webkit-transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
    -ms-transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
    transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
  }

  /* Header section */
  .header-section {
    font-size: var(--fs-text);
    padding: 1.75em 6em;
  }

  .nav {
    position: relative;
    display: block;
    padding: 0;
    height: unset;
    width: unset;
  }

  .nav-list {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
  }

  .nav-list-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-list-item > a {
    text-decoration: none;
    color: var(--subtitle-color);
  }

  .nav-list-item + .nav-list-item {
    margin-left: 1em;
  }

  .hamburger {
    display: none;
  }

  /* Main page content */
  .main-section {
    padding: 0 5em;
  }

  /* Headline section */
  .headline-section {
    width: 45vw;
    min-width: 40vw;
    max-width: 50vw;
  }

  #headline-title {
    font-size: var(--fs-title);
    letter-spacing: 3px;
    line-height: 1.125;
    font-weight: 500;
    margin-top: 1em;
  }

  #headline-sub {
    font-size: 1.85em;
    margin-top: 0.25em;
  }

  .intro {
    font-size: var(--fs-text);
    text-align: center;
    line-height: 1.5;
    margin-top: 2.5em;
    padding: 0 0.75em;
  }

  /* Skills section */
  .skills {
    width: 45vw;
    min-width: 40vw;
    max-width: 50vw;
  }

  .skills-list {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 4.5em;
    width: 100%;
  }

  .skill + .skill {
    margin-left: 2em;
  }

  .skill-title {
    font-size: 1em;
    margin-bottom: 1em;
  }

  .sublist {
    line-height: 1.85;
  }

  .skill-item {
    font-size: 1.125em;
  }

  /* Contact section */
  .about-me {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 3em;
  }

  .contact-links {
    width: 20%;
    margin-top: 2em;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .contact-link {
    text-decoration: none;
    color: var(--subtitle-color);
    display: block;
  }

  .contact-link > i {
    font-size: 24px;
  }

  /* Internal link to the projects */
  .to-projects {
    font-size: var(--fs-text);
    font-weight: var(--fw-normal);
    margin-top: 1em;
  }

  .to-projects > svg {
    margin-right: 0.25em;
  }

  #first-to-projects {
    display: -webkit-box;
    display: flex;
  }

  /* My projects section */
  .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: repeat(4, auto);
    -ms-grid-columns: 1fr;
    grid-template: repeat(4, auto) / 1fr;
    padding: 4em 0;
    grid-row-gap: 4em;
  }

  .projects-title {
    margin-top: 2em;
    text-transform: none;
    font-weight: var(--fw-normal);
  }

  .project-card {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }

  .project-card:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .image-placeholder {
    height: 380px;
    width: 55%;
    background-color: var(--subtitle-color);
  }

  .about-project {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 85%;
    width: 40%;
  }

  .project-card-title {
    color: var(--subtitle-color);
    font-family: var(--ff-title);
    font-weight: var(--fw-bold);
    font-size: 1.5em;
  }

  .project-card-description {
    color: var(--text-color);
    font-size: 1em;
    font-family: var(--ff-text);
    font-weight: var(--fw-normal);
    line-height: 1.5;
  }

  .technologies {
    display: -webkit-box;
    display: flex;
    justify-content: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 75%;
    list-style: none;
  }

  .technology {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding: 0.5em;
    color: var(--subtitle-color);
    font-family: var(--ff-title);
    font-weight: var(--fw-bold);
    font-size: 1em;
  }

  .technology + .technology {
    border-left: 1px solid var(--text-color);
  }

  /* Contact section */
  .contact-section {
    width: 50%;
    margin-top: 1.5em;
  }

  .contact-title {
    text-transform: none;
    margin-bottom: 0.5em;
  }

  .contact-info {
    font-size: 1em;
  }

  .widgets {
    line-height: 1.25;
  }

  .user-inputs:focus {
    outline-width: 5px;
  }

  #submit-button {
    margin-top: 2.5em;
  }

  /* Footer */
  .footer-section {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    height: 5em;
  }

  .footer-section > * {
    margin: 0;
  }

  .footer-section > #mail {
    font-size: 1.125em;
    margin: 0 0 0 2em;
  }

  .contact-links > i {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1100px) {
  /* Large laptops and desktops */
  .contact-links {
    width: 25%;
  }

  .footer-section > .contact-links {
    width: 15%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
