@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --bg-color: #191765;
  --app-bg: #1a176544;
  --title-color: hsla(256, 70%, 65%, 1);
  --subtitle-color: hsla(243, 100%, 96%, 1);
  --text-color: hsla(240, 12%, 81%);
  --fs-text: 1.25em;
  --fs-title: 3em;
  --fw-normal: 400;
  --fw-bold: 500;
  --ff-title: 'Roboto', sans-serif;
  --ff-text: 'Inter', serif;
}

/* General Styles */

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: var(--fs-text);
  font-weight: var(--fw-normal);
}

body > * {
  background-color: var(--app-bg);
  backdrop-filter: blur(10px);
}

a {
  text-decoration: none;
}

.border {
  border-bottom: 2px solid var(--subtitle-color);
  padding-bottom: 2em;
}

/* Background glowing objects */
.circle {
  position: absolute;
  top: 125px;
  left: -116px;
  width: 160px;
  height: 160px;
}

.blur-item {
  background-color: hsla(285, 100%, 95%, 1);
  box-shadow: 10px 10px 5px 5px hsla(285, 100%, 88%, 0.8);
  border-radius: 50%;
  filter: blur(10px);
  z-index: -5;
}

/* Header section */
.header-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--subtitle-color);
  font-size: var(--fs-text);
  padding: 1.25em 1.75em;
}

.header-section > * {
  z-index: 10;
}

.header-section > a {
  color: inherit;
  font-size: inherit;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.hamburger {
  position: relative;
  width: 35px;
  height: 3px;
  background-color: var(--subtitle-color);
}

.hamburger::before {
  position: absolute;
  content: '';
  bottom: 10px;
  width: inherit;
  height: inherit;
  background-color: inherit;
}

.hamburger::after {
  position: absolute;
  content: '';
  top: 10px;
  width: inherit;
  height: inherit;
  background-color: inherit;
}

/* Main page content */
.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1.5em;
  width: 100%;
  height: 100%;
}

.main-section > * {
  z-index: 10;
}

/* Headline section */
.headline-section {
  width: 100%;
}

#headline-title {
  font-size: 2em;
  width: 100%;
  letter-spacing: 2px;
  line-height: 1.05;
  font-weight: var(--fw-bold);
  color: var(--title-color);
  font-family: var(--ff-title);
  margin-top: 1.5em;
}

#headline-sub {
  font-size: 1.6em;
  font-weight: var(--fw-normal);
  color: var(--subtitle-color);
  margin-top: 0.5em;
  font-family: var(--ff-title);
}

.intro {
  font-size: 1.215em;
  color: var(--text-color);
  margin-top: 1.5em;
  font-family: var(--ff-text);
  text-align: center;
}
