@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

$primary-bg: #1b1b1e;
$secondary-bg: #212123;
$form-bg: #101010;
$primary: #fff;
$secondary: #7d7c84;
$accent: #db4747;
$green: #22b07d;
$orange: #f19d2a;
$red: #db4747;
$blue: #376aed;
