@import 'design';

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 4rem;

  .copy {
    margin-top: 2rem;
  }

  .links {
    margin: 3.5rem 0;
    font-size: 1.5em;
    font-weight: 600;

    .works_link:hover {
      text-decoration: underline;
    }

    .line {
      margin: 1rem 0;
      width: 25%;
      background-color: $primary;
    }

    .solist {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-size: 2rem;

      .solist_item {
        display: flex;
        align-items: center;
        justify-content: center;

        .solist_item_link {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $primary;
          transition: .25s ease-in-out;

          &:hover {
            color: $accent;
          }
        }
      }
    }
  }
}

.hidden {
  opacity: 0;
}
