@import 'design';

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $primary;
  background-image: url('../assets/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, serif;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', 'Courier New', Courier, sans-serif;
}

a {
  position: relative;
  color: $accent;
  text-decoration: none;
  cursor: pointer;
}

button {
  color: $primary;
  background-color: $accent;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
}

ul, ol {
  list-style: none;
  line-height: 2;
}

/* Navigation styles */
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  color: $primary;

  &.nav_open {
    height: 100vh;
    z-index: 10;
  }
}

.navbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  margin: 1rem 1rem 0 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  background-color: transparent;
}

.hamburger {
  position: relative;

  &,
  &::after,
  &::before {
    width: 3rem;
    height: .125rem;
    display: block;
    background-color: $primary;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  &::after,
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
  }

  &::before {
    bottom: .8rem;
  }

  &::after {
    top: .8rem;
  }

  .nav_open & {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .nav_open &::before {
    opacity: 0;
    transition: none;
  }

  .nav_open &::after {
    top: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .nav_open &,
  .nav_open &::after {
    height: .1025rem;
  }
}

.mobile {
  display: none;
}

.nav_open .mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
  font-size: 1.5rem;
  margin-top: 8rem;

  .navlist {
    width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 2rem;

    .navlist_item {
      width: 100%;
      display: flex;
      flex-direction: column;

      .navlist_item_index {
        display: inline-block;
        font-weight: 200;
        position: relative;
        color: $secondary;
        left: -1.5rem;
        bottom: -1.5rem;
        height: fit-content;
        font-size: 1rem;
      }

      .navlist_item_link {
        color: $primary;
      }
    }
  }
}

.desktop_nav {
  display: none;
}
/* End Navigation styles */

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a:hover a::after {
    position: absolute;
    content: '';
    top: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0.25rem;
    background-color: currentColor;
  }
}

/* Disable animations for users who do not want them */
@media (prefers-reduced-motion) {
  .example-one {
    animation: none;
  }

  .example-two {
    transform: none;
  }
}

@media only screen and (min-width: 720px) {
  body {
    font-size: 18px;
  }

  .navigation {
    display: none;
  }
  .desktop_nav {
    position: fixed;
    display: flex;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);

    .navlist {
      display: flex;
      flex-direction: column;
      row-gap: 3rem;

      .navlist_item {
        writing-mode: vertical-rl;
        text-orientation: sideways;

        .navlist_item_link {
          position: relative;
          color: $primary;

          &:hover {
            color: $accent;
            transition: .25s ease-in-out;
          }

          &.in_view .navlist_item_link::after {
            position: absolute;
            content: '';
            border-radius: 50%;
            background-color: currentColor;
            bottom: 50%;
            transform: translateY(50%);
            left: -.5rem;
            transform-origin: center;
            animation: show_up 250ms ease-in-out 25ms 1 alternate both;
          }
        }
      }
    }
  }
}


@keyframes show_up {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: .5rem;
    height: .5rem;
  }
}
